nav{
    background-color: #89CFF0;
    height: 8vh;
}

nav h1{
    float: left;
    margin: 5px 0 0 10px;
    color: white;
    font-size: 6vmin;
    font-family: 'Arvo', serif;
    font-weight: lighter;
    margin-left: 3vw;
}

span{
    color: black;
    font-style: italic;
    font-weight: bold;
}

nav p{
    float: right;
    margin-right: 2vw;
    color: white;
    font-family: 'Arvo', serif;
    font-size: 2.5vmin;
    font-weight: bold;
}

nav p:hover{
    color: black;
}